body{
    background-color:#d3dff2;
    text-align:center;
}

h1{
    font-size:8rem;
    font-family:'Lobster', cursive;
    text-shadow: 5px 0 #3eead0;
    margin:0 30px 30px;
    color: #1d211f;
    padding-left:60px;
}


.container{
    margin-top:30px;
    padding-bottom: 60px;
}
.dice{
    padding-top: 30px;
    padding-bottom: 50px;
    text-align:center;
    display:inline-block;
}
.img1{
    padding-right:20px;
    width:70%;
}
.img2{
    padding-left:20px;
    width:70%;
}

/* footer section */
footer{
    color:rgb(248, 119, 119);
    font-family:'Indie Flower', cursive;
}
